:root {
    --color-primary: #f46b45;
    --color-secondary: #eea849;
    --color-light: #ecf0f1;
    --color-dark: #2f3542;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    background-color: var(--color-dark);
    color: var(--color-light);
}

header {
    background: linear-gradient(var(--color-primary), var(--color-secondary));
    padding: 12px;
}

header h1 {
    margin: 0;
    font-size: 1.6rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

main section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.message .from {
    font-size: 1rem;
    font-weight: 700;
}

.message .content {
    padding: 12px;
    font-size: 1.2rem;
    border-radius: 12px;
    background-color: var(--color-primary);
    color: var(--color-light);
}

.message .date {
    font-size: 0.9rem;
}

.message.sent {
    align-self: end;
}

.message.sent .content {
    background-color: var(--color-light);
    color: var(--color-dark);
}

main form {
    display: flex;
    align-items: center;
    gap: 12px;
}

main form label {
    flex: 1;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 2px solid var(--color-secondary);
    font-size: 1rem;
    background-color: transparent;
    color: var(--color-light);
}

input:focus {
    outline: 2px solid var(--color-primary);
}

::placeholder {
    color: color-mix(to srgb, var(--color-light) 80%, transparent 20%);

}

button {
    border: none;
    background-color: var(--color-light);
    padding: 12px;
    cursor: pointer;
}

button.primary {
    background-color: var(--color-primary);
    color: var(--color-light);
    font-size: 1.2rem;
    font-weight: 700;
}

button:has(i) {
    --size: 50px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}

button i {
    font-size: 1.6rem;
    color: var(--color-primary);
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

::backdrop {
    background-color: var(--color-dark);
    opacity: 0.75;
}
